{% extends "all-temps/base.html" %}
{% load static %}

{% block content %}
{{ block.super }}
{% for up in update %}

<div class="Instagram-card">
    <div class="Instagram-card-header">
      <img src="{{up.image.url}}"class="Instagram-card-user-image">
      <a class="Instagram-card-user-name"  href="{% url 'singleuser' up.user.id%}">{{up.user}}</a>
     
    </div>
    
   
    <div class="Instagram-card-image">
        {% if up.image %}
      <img src= "{{up.image.url}}" height="400px" width="600px"/>
      {% endif %}
    </div>
     
    <div class="Instagram-card-content">
      <!-- <p class="Likes">{{up.likes }} likes</p> -->
      <div class="fb-like" data-href="https://intapat.herokuapp.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      <p><a class="Instagram-card-content-user">
        
      <href="#">{{up.user}}</a>  {{up.image_caption}} 🎉</p>
      <p> {{up.postdate|timesince }} ago</p>
      <p class="comments">View 12 comments</p>

      <!-- <br><a class="user-comment" href="#">{{up.user.username}}</a> {{up.comment}} </br>
      <br><a class="user-comment" href="#">{{up.user.username}}</a> {{up.comment}}</br>
      
      <br><a class="user-comment" href="#">{{up.user.username}}</a> {{up.comment}}</br> -->
    <hr>
    
    </div>  

    <div class="Instagram-card-footer">
      <a class="footer-action-icons"href="#"><i class="fa fa-heart-o"></i></a>
      <div class="fb-comments" data-href="https://intapat.herokuapp.com/" data-numposts="7"></div>
      
      
          
        
      <a class="footer-action-icons"href="#"><i class="fa fa-ellipsis-h"></i></a>
    </div>
    {% endfor %}
    
  </div>


  




{% endblock %}