{%extends "all-temps/base.html" %}
{% load static %}

{% block content %}
{{ block.super}}

{% for profile in profiles%}
<div class="container">
    <div class="row">
<div class="card">

        {% if profile.user.id == user.id%}
        <img class="img-fluid" src="{{profile.profile_photo.url}}" height="400" width="400"alt="Card image cap">
        
        <div class="card-body">
            
            <h4 class="card-title"></h4>
            
            <p class="card-text">{{profile.user.username}}</p>
            <p class="card-text">{{profile.bio}}</p>
            <a href="#" class="btn btn-primary">Follow</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
<div class="col-sm-4">
    {%for img in images%}
    
    <img class="img-fluid" src="{{img.image.url}}" alt="Card image cap">
    <p>{{img.image_caption}}</p>
   
    <span class="badge badge-success">{{img.likes}} likes </span>

    {%endfor%}
</div>

</div>
</div>
    
{% endblock %}