{%extends 'all-temps/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     
    <div class="card" style="width:400px">
      <img class="card-img-top" src="{{user.profile_photo.url}}" alt="Card image">
      <div class="card-body">
        <h4 class="card-title"> {{user.user.username}}</h4>
        <p class="card-text">{{user.bio}}</p>
        <a href="#" class="btn btn-primary">Follow</a>
      </div>
    </div>

 
 
</div>
{%for img in images%} 

<div class="col-4">
  <img class="img-fluid" src="{{img.image.url}}"  width="400px" alt="Card image cap">
   <p>{{img.image_caption}}</p> 
   <span class="badge badge-success">{{img.likes}} likes </span> 
  
   </div>
   {%endfor%}
  </div>
 {% endblock %}
 